/* Base Styles */

body {
    font-family: futura;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: calc(20px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
    font-size: calc(15px + (32 - 15) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
    font-size: calc(28px + (45 - 28) * ((100vw - 300px) / (1600 - 300)));
}

footer {
    text-align: center;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    display: block;
}

.white {
    color: white;
}

.centerHeadline {
    text-align: center;
}

.relative {
    position: relative;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.topText {
    position: relative;
    z-index: 10;
}

hr {
    width: 70%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    /* top: 1vh;
    left: 3vw; */
    /* width: 80%; */
    left: 2%;
    right: 2%;
    top: 1%;
}

nav {
    display: flex;
    align-self: center;
}

nav ul {
    white-space: nowrap;
    align-self: flex-end;
    margin: 0;
}

nav li {
    list-style: none;
    display: inline;
    white-space: nowrap;
    position: relative;
}

nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: calc(9px + (20 - 9) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 1vw;
    padding-right: 1vw;
}

nav li:after {
    display: block;
    content: "";
    border-bottom: 2px solid gray;
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: -15%;
}

nav li:hover:after {
    border-color: #009DFF;
}

#logo {
    width: 20vw;
}

/* Main Content */

#landingPage {
    background-image: url("images/splashPage.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
    width: 100vw;
}

#mainContent h1 {
    padding: 0;
    margin: 0;
    line-height: 0.98em;
  }
  
  #mainContent h3 {
      padding: 0;
      margin: 0;
      margin-top: .5vh;
      font-style: italic;
  }
  
  #mainContent {
    background-image: url("images/splashPage.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
    width: 100vw;
    z-index: 1;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

#requestAQuote {
    background-color: #009DFF;
    border: 2px solid transparent;
    padding: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300))) calc(9px + (20 - 9) * ((100vw - 300px) / (1600 - 300)));;
    border-radius: 25px;
    color: white;
    font-size: calc(9px + (17 - 9) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 10px;
}

#requestAQuote:hover {
    border: 2px solid #0069aa;
}

#getMoreInfo {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: calc(9px + (17 - 9) * ((100vw - 300px) / (1600 - 300)));
}

/* What We Do */
#whatWeDo {
    background-image: url("images/whatWeDo.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
    width: 100vw;
}

#gallery {
    display: flex;
}

.galleryItemsRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.galleryItemsColumn {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

.galleryItemsColumn div {
    width: 300px;
    height: 300px;
}

.galleryItemsColumn div:hover {
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    transform: scale(1.1);
}

#galleryBox1 {
    background: url(images/chuttersnap.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox2 {
    background: url(images/drewFarwell.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox3 {
    background: url(images/faithYarn.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox4 {
    background: url(images/markusSpiske.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox5 {
    background: url(images/sincerelyMedia.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox6 {
    background: url(images/terezaRuba.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox7 {
    background: url(images/freeToUse.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox8 {
    background: url(images/ianDooley.jpg) no-repeat center;
    background-size: 100%;
}

#galleryBox9 {
    background: url(images/marcelJ.jpg) no-repeat center;
    background-size: 100%;
}

#aboutMeImage {
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    background: url(images/petrSevcovic.jpg) no-repeat center;
    background-size: 100%;
    margin-bottom: 50px;
}

#aboutUs {
    position: relative;
    width: 100vw;
}